{% extends "base.html" %} {% block content %}
<body class="min-h-screen bg-black h-screen text-gray-200">
  <div class="flex py-10 p-30 justfy-center bg-black">
    <div
      class="container mx-auto lg:w-5/12 p-4 py-10 min-h-[100px] flex justify-center"
    >
      <div class="w-full lg:max-w-35 mx-auto text-3xl h-full items-center">
        <div class="flex min-h-[500px] items-center justify-center">
          <div
            class="text-gray-200 items-center leading-relaxed inline-block align-middle"
            id="input_text"
          >
            {{ text| safe }}
          </div>
        </div>
        <script src="/js/itext.js"></script>
        <div
          id="timer"
          class="container mx-auto flex justify-center text-gray-200 min-h-[44px]"
        ></div>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
          <div
            role="progressbar"
            id="progressbar"
            class="bg-violet-800 h-2.5 rounded-full"
            style="width: 0%"
          ></div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
